body {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    margin: 0;
    height: 100vh;
}

div.heading {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

div.top-heading {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 1fr 3fr;
    align-items: center;
}

div.top-heading img {
    justify-self:end;
    margin-right: 10px;
}

img[alt="avatar"] {
    border-radius: 50%;
}

div.top-heading input{
    height: 30px;
    background-color: #e2e8f0;
    border: transparent;
    border-radius: 15px;
    padding: 0 10px;
}

div.top-heading p {
    font-size: 22px;
    font-weight: 700;
}

div.bottom-heading {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    align-items: center;
    padding: 15px 0;
}

div.bottom-heading img {
    margin-left: 50%;
}

div.bottom-heading p {
    font-weight: 700;
    font-size: 20px;
    position: relative;
}

div.bottom-heading p::before {
    content: "Hi there,";
    position: absolute;
    bottom: 25px;
    font-size: 14px;
}

div.bottom-heading button {
    background-color: #1992D4;
    color: white;
    border: transparent;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-size: 16px;
    font-weight: 700;
}

div.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: #1992D4;
    color: white;
    font-weight: 700;
}

div.sidebar img {
    filter: invert(100%);
}

div.sidebar div.logo {
    font-size: 30px;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

ul {
    list-style: none;
}

div.sidebar li {
    display: flex;
    align-items: center; 
    margin-top: 20px;
}

div.sidebar ul {
    margin-top: 60px;
}

div.sidebar ul p {
    margin-left: 20px;
    font-size: 24px;
}


div.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #e2e8f0;
}

div.projects {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
}

div.projects > p {
    grid-column: 1 / 3;
    font-size: 20px;
    font-weight: 700;
}

div.projects .card {
    background-color: white;
    border-left: orange 10px solid;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card .title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.card-description {
    color: gray;
}

.card .btns {
    margin-top: auto;
    display: flex;
    justify-content: end;
    gap: 20px;
}

div.announcements {
    display: grid;
    grid-template-rows: min-content 1fr;
    margin: 20px;
    gap: 20px;    
}

div.announcements > p {
    font-size: 20px;
    font-weight: 700;
}

div.ann-container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ann-container div {
    padding: 10px 0;
}

.ann-container div:nth-child(2) {
    border-top: solid 2px lightgray;
    border-bottom: solid 2px lightgray;
}

.ann-container .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 3px;
}

.ann-container .ann-description {
    color: gray;
}

div.trending {
    display: grid;
    grid-template-rows: min-content 1fr;
    margin: 20px;
    gap: 20px;    
}

div.trending > p {
    font-size: 20px;
    font-weight: 700;
}

div.trend-container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.trend-container img {
    border-radius: 50%;
}

.trend-container div p:first-child {
    font-weight: 700;
}

.trend-container div p:last-child {
    color: darkslategray;
}

p {
    margin: 0;
    padding: 0;
}